*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Helvetica,Arial, sans-serif;
    
}

#titulo{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(16, 53, 65, 0.521);
    margin: left 7%;
    margin-top: 20px;
    text-align: center;
    font-size: 50px ;
    
}

fieldset{
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    
}

body{
   
    background-image: url(../img/maldivas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content:center; 
    font-size: 16px;
    
}

form{
    background-color: rgba(16, 53, 65, 0.521);
    color: rgb(144, 195, 199);
    width: 700px;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    
}

input, select, textarea, button{
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 1px 1px rgb(9, 131, 104);
    
}
.campo{
    margin: bottom 1em;
    color: rgb(161, 216, 211);
    display: block;
    margin-top: 10px
}

.campo input [type="text"], .campo input [type="email"], .campo select, .campo textarea{
    padding: 1px;
    border: 1px solid #073f36;
    box-shadow: 1px 1px 1px rgb(9, 131, 104);
    display: block;
    border: 0;
    
}
.campo input:focus, .campo select :focus, .campo textarea:focus{
    background:rgb(43, 184, 255);  
    border: 0;
    
}
#nome:hover, #data:hover, #pais:hover, #email:hover, #tel:hover, #motivo:hover, #opção1:hover, #comentarios:hover{
    background-color:rgb(227, 242, 255);
}

.power-button {
    width: 4.8rem;
    height: 1.7rem;
    background-color: rgb(227, 242, 255);
    border-radius: 32px;
    margin-left: 20px;;
}
#powerbutton{
    display: none;
}
.toggle{
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    cursor: pointer;
    position: relative;
    top:0;
    left:0;
    z-index: 1;
    background-color:rgb(227, 242, 255);
    border-radius: 32px;
    border: 1px solid rgb(43, 184, 255);
    box-shadow: none;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle::before{
    content: 'Sim';
    color: whitesmoke;
    position: absolute;
    text-transform: uppercase;
    font-size: 0;
    top: 6.3px;
    left: 4px;
}
.toggle::after{
    content: 'Não';
    color: black;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    top: 6.3px;
    left: 1px;
}
#powerbutton +.toggle{
    background-color: rgb(255, 51, 51);
}
#powerbutton:checked +.toggle{
    left: 3.2rem;
    background-color: rgb(43, 184, 255);
}
#powerbutton:checked +.toggle::after{
    font-size: 0px;
}

#powerbutton:checked +.toggle::before{
    font-size: 10px;
}
#nome, #data, #pais, #email, #tel, simounao{
    width: 200px;
    height: 20px;
    margin-top: 5px
}
.nome, .data, .pais, .email, .tel, .motivo, .opção1, strong{
    margin-left: 20px;
    
}

legend{
    margin-left: 40px;
    padding: 5px;
       
}

#comentarios, #motivo{
    margin-left: 30px;
    margin-bottom: 15px;
}
.campo{
    margin-left: 20px;
    border: 0;
    
    
}
.comentarios, .motivo{
    margin-left: 30px;
    
    
}
.botao{
    margin-left: 50px;
    
    
}
#botao1, #botao2{
    background-color: rgb(227, 242, 255);
    margin: 2px;
    width: 50px;
    height: 35px;
    border-radius: 15px;
    border: 0;
    transition-delay: 100ms
    
}
#botao1:hover{
    background-color:rgb(43, 184, 255);
    color: rgb(255, 255, 255);
    transition-delay: 100ms
    
}
#botao2:hover{
    background-color: rgb(255, 51, 51);
    color: rgb(255, 255, 255);
    transition-delay: 100ms
}

 #opção1, #opção2, #opção3, #opção4, #opção5, #opção6{
    margin-left: 10px;
    
} 

